$background: #2B2B2B;
$backgroundSecondary: #3B3B3B;

$caption: #858584;
$text: #FFFFFF;

$action: #A259FF;
$blueAccent: #377DF7;
$redAccent: #FF7262;

$gradient1: linear-gradient(149deg, #A259FF 0%, #FF6250 100%);
$gradient2: linear-gradient(170deg, #A259FF 0%, #377DF7 100%);