$icons: (
    YoutubeLogo:          '\e900',
    WalletConnect:        '\e901',
    Wallet:               '\e903',
    UserCircle:           '\e904',
    User:                 '\e905',
    TwitterLogo:          '\e906',
    TrendUp:              '\e907',
    Storefront:           '\e908',
    RocketLaunch:         '\e909',
    Rocket:               '\e90a',
    Plus:                 '\e90b',
    Metamask:             '\e90c',
    MagnifyingGlass:      '\e918',
    LockKey:              '\e919',
    List:                 '\e91a',
    InstagramLogo:        '\e91b',
    Globe:                '\e91c',
    EyeSlash:             '\e91d',
    EnvelopeSimple:       '\e91f',
    DiscordLogo:          '\e920',
    Copy:                 '\e921',
    Coinbase:             '\e922',
    ArrowRight:           '\e924',
    ArrowLeft:            '\e925',
);
