$mainFontFamily: 'SpaceMono';
$secondaryFontFamily: 'WorkSans';
$icon: 'icon', sans-serif;

$tags: (
    h1: (toRem(67), toRem(67), toRem(67), (110%)),
    h2: (toRem(51), toRem(51), toRem(51), (110%)),
    h3: (toRem(38), toRem(38), toRem(38), (120%)),
    h4: (toRem(28), toRem(28), toRem(28), (140%)),
    h5: (toRem(22), toRem(22), toRem(22), (160%)),
    base: (toRem(16), toRem(16), toRem(16), (140%)),
    caption: (toRem(12), toRem(12), toRem(12), (110%)),
);