.card-creator {
    $b: &;

    @include media-desktop {
        &__front {
            transform: perspective(600px) rotateY(0deg);
        }

        &__back {
            position: absolute;
            top: 0;
            left: 0;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            transform: perspective(600px) rotateY(180deg);
        }

        &__description {
            @include fontSize(base);
            @include marginLevel(bottom, pink);
            color: var(--text);
        }

        &__button {
            width: 100%;
        }

        &:hover {
            #{$b}__front {
                transform: perspective(600px) rotateY(-180deg);
            }

            #{$b}__back {
                transform: perspective(600px) rotateY(0deg);
            }
        }
    }
}